# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env

# Django
*.log
local_settings.py
db.sqlite3
media/

# Node
node_modules/
dist/
.npm

# Environment
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
